---
interface Heading { depth: number; slug: string; text: string }
const { headings = [] as Heading[] } = Astro.props;
---
<ul class="toc-list">
  {headings.map((h: Heading) => (
    <li class={`toc-h${h.depth}`}>
      <a href={`#${h.slug}`}>{h.text}</a>
    </li>
  ))}
</ul>
